@font-face {
  font-family: 'ALSRubl';
  src: url("../fonts/ALSRubl.eot");
  src: url("../fonts/ALSRubl.eot?#iefix") format("embedded-opentype"), url("../fonts/ALSRubl.woff") format("woff"), url("../fonts/ALSRubl.ttf") format("truetype"), url("../fonts/ALSRubl.svg#JournalRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Code-Pro-Bold-LC';
  src: url("../fonts/Code-Pro-Bold-LC.eot");
  src: url("../fonts/Code-Pro-Bold-LC.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Bold-LC.woff") format("woff"), url("../fonts/Code-Pro-Bold-LC.ttf") format("truetype"), url("../fonts/Code-Pro-Bold-LC.svg#JournalRegular") format("svg");
  font-weight: bold;
  font-style: normal;
}
/*========================================================
                    header
=========================================================*/
.content_main {
  width: 940px;
  margin: auto;
}
dir {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
header .back_black {
  background-color: #2b2723;
}
header .back_black .content_main {
  position: relative;
}
header .back_black .content_main nav {
  float: left;
  margin: 6px 0px;
}
header .back_black .content_main nav dir li:first-child {
  padding: 6px 13px 4px 0;
}
header .back_black .content_main nav dir li:first-child:before {
  content: none;
}
header .back_black .content_main nav dir li:before {
  content: url(../img/dot.png);
  position: absolute;
  left: -3px;
  top: 5px;
}
header .back_black .content_main nav dir li {
  display: inline-block;
  position: relative;
  padding: 6px 13px 4px 13px;
}
header .back_black .content_main nav dir li a:hover {
  color: #ffe328;
}
header .back_black .content_main nav dir li a {
  color: white;
  border: none;
  font-family: arial;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
}
header .back_black .content_main .exit:hover {
  color: white;
  border-bottom: white dashed 1px;
}
header .back_black .content_main .exit {
  color: #ffe328;
  border-bottom: #ffe328 dashed 1px;
  float: left;
  font-family: arial;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  padding: 0px;
  margin: 10px 0 10px 139px;
}
header .back_black .content_main .trash:before {
  content: url(../img/trash.png);
  position: absolute;
  top: 15px;
  right: 79%;
}
header .back_black .content_main .trash {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #4a3f32;
  padding: 15px 26px 21px 50px;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: arial;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
}
header .white_back {
  background: white;
}
header .white_back .content_main section {
  float: left;
}
header .white_back .content_main .logo_in_header {
  margin: 20px 24px 20px 5px;
}
header .white_back .content_main .coll_in_header {
  width: 192px;
}
header .white_back .content_main .coll_in_header p {
  color: #583843;
  font-family: arial;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  margin: 10px 6px;
}
header .white_back .content_main .coll_in_header p span {
  font-size: 21px;
  display: block;
  padding-top: 1px;
}
header .white_back .content_main .address_in_header:before {
  content: url(../img/icon_m.png);
  position: absolute;
  top: 4px;
  left: 6px;
}
header .white_back .content_main .address_in_header {
  width: 334px;
  position: relative;
}
header .white_back .content_main .address_in_header p {
  color: #000000;
  font-family: arial;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  margin: 3px 6px;
  text-indent: 20px;
  line-height: 19px;
}
header .white_back .content_main .time_work_in_header {
  width: 150px;
  line-height: 19px;
}
header .white_back .content_main .time_work_in_header p {
  color: #000000;
  font-family: arial;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  margin: 3px 1px 3px 0px;
}
header .white_back .content_main .time_work_in_header p span {
  font-weight: bold;
}
header .white_back .content_main .asq_in_header:before {
  content: url(../img/icq.png);
  position: absolute;
  top: 4px;
  left: 2px;
}
header .white_back .content_main .asq_in_header {
  color: #3e3935;
  font-family: arial;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  width: 129px;
  position: relative;
  min-height: 44px;
}
header .white_back .content_main .asq_in_header p {
  margin: 3px 22px 1px 24px;
}
header .white_back .content_main .mail_in_header:before {
  content: url(../img/mail.png);
  position: absolute;
  top: 4px;
  left: 0px;
}
header .white_back .content_main .mail_in_header {
  width: 129px;
  position: relative;
  min-height: 44px;
}
header .white_back .content_main .mail_in_header a:hover {
  text-decoration: none;
}
header .white_back .content_main .mail_in_header a {
  color: #2b7bce;
  font-family: arial;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  margin: 22px;
  line-height: 24px;
  text-decoration: underline;
}
header .white_back .content_main .other_address_in_header {
  padding: 7px 6px 14px 6px;
}
header .white_back .content_main .other_address_in_header a:hover {
  text-decoration: none;
}
header .white_back .content_main .other_address_in_header a {
  color: #2b7bce;
  text-decoration: underline;
  font-family: arial;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
}
header .white_back .content_main .tell_friand_in_header {
  position: relative;
  padding-top: 9px;
  float: right;
  vertical-align: middle;
}
header .white_back .content_main .tell_friand_in_header span {
  color: #75674a;
  font-family: arial;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  min-height: 22px;
}
header .white_back .content_main .tell_friand_in_header dir {
  display: inline-block;
  font-size: 0;
}
header .white_back .content_main .tell_friand_in_header dir li:first-child {
  padding-left: 1px;
}
header .white_back .content_main .tell_friand_in_header dir li {
  list-style-type: none;
  overflow: hidden;
  width: 18px;
  display: inline-block;
  padding-left: 2px;
}
header .white_back .content_main .tell_friand_in_header dir li a {
  background-image: url(../img/icon_soc.png);
  width: 18px;
  height: 16px;
  display: block;
  transition: 0.5s;
}
header .white_back .content_main .tell_friand_in_header dir li a:hover {
  background-position-y: 16px;
  transition: 0.5s;
}
header .white_back .content_main .tell_friand_in_header dir li .mail_l {
  background-position-x: 18px;
}
header .white_back .content_main .tell_friand_in_header dir li .odnoklas_l {
  background-position-x: 38px;
}
header .white_back .content_main .tell_friand_in_header dir li .twit_l {
  background-position-x: 59px;
}
header .white_back .content_main .tell_friand_in_header dir li .fase_l {
  background-position-x: 80px;
}
.back_for_proces {
  background-color: #583843;
}
.back_for_proces .content_main dir li {
  list-style-type: none;
  float: left;
  width: 172px;
}
.back_for_proces .content_main dir li img {
  float: left;
}
.back_for_proces .content_main dir li h4 {
  font-family: arial;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
}
.back_for_proces .content_main dir li p {
  font-family: arial;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  color: #b99da7;
}
footer .back_for_footer {
  background-color: #292023;
}
footer .back_for_footer .content_main {
  padding: 20px 0;
}
footer .back_for_footer .content_main .left_block_in_footer {
  width: 682px;
  float: left;
}
footer .back_for_footer .content_main .left_block_in_footer a:hover {
  text-decoration: none;
}
footer .back_for_footer .content_main .left_block_in_footer a {
  font-family: arial;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  color: #caadb7;
  text-decoration: underline;
}
footer .back_for_footer .content_main .left_block_in_footer p {
  line-height: 19px;
}
footer .back_for_footer .content_main .left_block_in_footer .fist_block_in_footer li:first-child {
  padding-left: 0;
}
footer .back_for_footer .content_main .left_block_in_footer .fist_block_in_footer li {
  list-style-type: none;
  display: inline-block;
  padding-left: 33px;
}
footer .back_for_footer .content_main .left_block_in_footer .coll_in_footer {
  width: 192px;
  float: left;
}
footer .back_for_footer .content_main .left_block_in_footer .coll_in_footer p:first-child {
  padding-top: 21px;
}
footer .back_for_footer .content_main .left_block_in_footer .coll_in_footer p {
  font-family: arial;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  color: #ffe328;
  margin: 0;
  padding-top: 13px;
}
footer .back_for_footer .content_main .left_block_in_footer .coll_in_footer p span {
  font-size: 18px;
  color: #ffffff;
  display: block;
}
footer .back_for_footer .content_main .left_block_in_footer .coll_in_footer section {
  padding-top: 22px;
}
footer .back_for_footer .content_main .left_block_in_footer .address_in_footer {
  width: 288px;
  float: left;
}
footer .back_for_footer .content_main .left_block_in_footer .address_in_footer p {
  font-family: arial;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  margin: 0;
  padding: 21px 0px 11px;
  margin-right: 12px;
}
footer .back_for_footer .content_main .left_block_in_footer .time_of_work_in_footer {
  float: left;
  width: 133px;
}
footer .back_for_footer .content_main .left_block_in_footer .time_of_work_in_footer p {
  font-family: arial;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  padding: 21px 0;
  margin: 0;
}
footer .back_for_footer .content_main .left_block_in_footer .time_of_work_in_footer div {
  margin: 4px 0;
}
footer .back_for_footer .content_main .left_block_in_footer .time_of_work_in_footer div a:nth-child(2) img {
  margin-left: 5px;
}
footer .back_for_footer .content_main .left_block_in_footer .time_of_work_in_footer section {
  margin-top: 8px;
}
footer .back_for_footer .content_main .right_block_in_footer {
  float: right;
  width: 258px;
}
footer .back_for_footer .content_main .right_block_in_footer p {
  font-family: arial;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  color: white;
  text-align: right;
  margin: 0;
  padding-top: 1px;
  padding-bottom: 4px;
}
footer .back_for_footer .content_main .right_block_in_footer p a:before {
  content: url(../img/stef_l.png);
  position: absolute;
  top: -3px;
  left: 3px;
}
footer .back_for_footer .content_main .right_block_in_footer p a:hover {
  text-decoration: underline;
}
footer .back_for_footer .content_main .right_block_in_footer p a {
  font-family: arial;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  color: white;
  position: relative;
  padding-left: 22px;
}
footer .back_for_footer .content_main .right_block_in_footer section {
  float: right;
  margin-top: 64px;
}
footer .back_for_footer .content_main .right_block_in_footer section img:nth-child(2) {
  padding-left: 3px;
}
