@font-face {
  font-family: 'ALSRubl';
  src: url("../fonts/ALSRubl.eot");
  src: url("../fonts/ALSRubl.eot?#iefix") format("embedded-opentype"), url("../fonts/ALSRubl.woff") format("woff"), url("../fonts/ALSRubl.ttf") format("truetype"), url("../fonts/ALSRubl.svg#JournalRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Code-Pro-Bold-LC';
  src: url("../fonts/Code-Pro-Bold-LC.eot");
  src: url("../fonts/Code-Pro-Bold-LC.eot?#iefix") format("embedded-opentype"), url("../fonts/Code-Pro-Bold-LC.woff") format("woff"), url("../fonts/Code-Pro-Bold-LC.ttf") format("truetype"), url("../fonts/Code-Pro-Bold-LC.svg#JournalRegular") format("svg");
  font-weight: bold;
  font-style: normal;
}
.cf:after,
.cf:before {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
/*========================================================
                    header
=========================================================*/
.content_main {
  width: 940px;
  margin: auto;
}
* {
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
header .back_black {
  background-color: #2b2723;
}
header .back_black .content_main {
  position: relative;
}
header .back_black .content_main nav {
  float: left;
}
header .back_black .content_main nav ul li:first-child:before {
  content: none;
}
header .back_black .content_main nav ul li:before {
  content: url(../img/dot.png);
  position: absolute;
  left: 0;
  top: 8px;
}
header .back_black .content_main nav ul li {
  display: inline-block;
  position: relative;
  padding: 10px;
}
header .back_black .content_main nav ul li a {
  color: white;
  border: none;
}
header .back_black .content_main a {
  color: #ffe328;
  border-bottom: #ffe328 dashed 1px;
  float: right;
}
header .back_black .content_main .trash:before {
  content: url(../img/trash.png);
}
header .back_black .content_main .trash {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #4a3f32;
  padding: 15px;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.promo h1 {
  font-size: 18px;
}
.promo aside {
  margin-right: 2%;
  display: inline-block;
  width: 28.5%;
}
.promo aside ul {
  list-style: none;
  background-color: #42392e;
  min-height: 545px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.promo aside ul li {
  border-bottom: 1px solid #554d43;
  line-height: 39px;
  text-indent: 14px;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.7em;
}
.promo aside ul li:not(:first-child):before {
  content: url(../img/arrow.png);
  float: right;
  margin-right: 10px;
}
.promo aside ul li:first-child {
  background: linear-gradient(180deg, rgba(53, 107, 0, 0.9), #356b00);
  border-bottom: 1px solid #356b00;
  text-transform: none;
  line-height: 46px;
  font-size: 0.8em;
}
.promo .content-wrapper {
  display: inline-block;
  width: 69%;
  vertical-align: top;
}
.promo .content-wrapper .search-buts form {
  width: 70%;
  margin-right: 3%;
  display: block;
  float: left;
  position: relative;
}
.promo .content-wrapper .search-buts form input {
  line-height: 42px;
  margin: 0;
  display: inline-block;
}
.promo .content-wrapper .search-buts form input[type=text] {
  width: 83%;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-indent: 42px;
}
.promo .content-wrapper .search-buts form input[type=submit] {
  width: 16%;
  float: left;
  background: linear-gradient(180deg, rgba(53, 107, 0, 0.9), #356b00);
  border: 2px solid #356b00;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.promo .content-wrapper .search-buts form:before {
  content: url(../img/search.png);
  position: absolute;
  left: 12px;
  top: 12px;
}
.promo .content-wrapper .search-buts .button {
  width: 26%;
  display: block;
  float: left;
  background-color: #583843;
  border-radius: 5px;
  height: 48px;
  text-align: center;
  padding-top: 5px;
}
.promo .content-wrapper .search-buts .button span {
  font-size: 0.9em;
  color: #dcc12c;
}
.promo .content-wrapper .search-buts .button p {
  margin: 0;
  color: #fff;
}
